/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  /* background: #fff; */
  background-color: rgb(133, 101, 133);
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; */
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
 
}
nav span {
  margin-left: 10px;
  margin-right: 10px;
}

nav a{
    margin-left: 20px;
}

.icon{
  background: rgb(133, 101, 133);
  color: white;
  padding: 0px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 2em;
  margin-left: 20px;
}

/* searchBar */

.search{
    width: 40%;
    border-style:  ridge;
    border-radius: 0.75rem;
    padding-left: 1%;
    background-color: white;
    border: none;
}
.searchBar
{
    width: 90%;
    font-size: 1.25rem;
    padding: 0.5% 1%;
    border-radius: 2rem;
    border: 0;
    margin-left: 3%;
    outline: none;
}
.searchIcon
{
    margin-right: 0%;
    margin-left: 10%;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 2%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto; 
  margin-right: auto;
}

.swiper img {
  opacity: 1;
}

img:hover{
  opacity: 0.7;
}

.Product
{
  margin-top: 5%;
  justify-content: center;
}

.Card 
{
  margin: 1%;
  bottom: solid;
  border-radius: 200%;
  min-height: 50vh;
  display: column;
}
/* .card */
.Card a img{
   size: 10%;
   width: 130%;
   height: 80%;
   border-radius: 10%;
   padding: 5%;
}

.pickProduct
{
  background-color: rgb(133, 101, 133);
  padding: 2%;  
}

.Card-title
{
  margin-top: auto;
  justify-content: center;
  color: #fff;
}